html {
	font-size: 10px;
	background-image: url('imgs/drum.jpg');
	background-size: cover; 
}

body, html {
	margin: 0;
	padding: 0%;
	font-family: sans-serif;
}

.menu {
	color: white;
	width: 10rem;
	margin: 1rem;
	font-size: 1.5rem;
}

.keys {
	display: flex;
	flex: 1;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
	
}

.key {
	border: 0.4rem solid white;
	border-radius: 0.5rem;
	margin: 1rem;
	font-size: 1.5rem;
	padding: 1rem 0.5rem;
	transition: all .07s ease;
	width: 10rem;
	text-align: center;
	color: white;
	background: rgba(0, 0, 0, 0.4);
	text-shadow: 0 0 0.5rem black;
}

.playing {
	transform: scale(1.1);
	border-color: #ffc600;
	box-shadow: 0 0 1rem #ffc600;
}

kbd {
	display: block;
	font-size: 4rem;
}

.sound {
	font-size: 1.2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	color: #ffc600;
}

