:root {
	--base: #ffc600;
	--spacing: 10px;
	--blur: 0px;
}

img {
	padding: var(--spacing);
	background: var(--base);
	filter: blur(var(--blur));
}

.highlighted {
	color: var(--base);
}

/* Misc styles */

body {
	text-align: center;
	background: #193549;
	color: white;
	font-family: 'helvetica neue', sans-serif;
	font-weight: 100;
	font-size: 50px;
}

.picture-settings {
	margin-bottom: 50px;
}

input {
	width: 100px;
}
