html,
body {
	height: 100%;
	margin: 0;
}

.draw-container {
	display: flex;
	height: 100%;
	background: red;
}

.draw-zone {
	height: 100%;
	width: 80%;
	background: yellow;
}

.toolbox-zone {
	width: 20%;
	background: blue;
}