html {
	box-sizing: border-box;
	background: #ffc600;
	font-family: 'helvetica neue';
	font-size: 20px;
	font-weight: 200;
}

body {
	margin: 0;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

h1 {
	margin-top: 0;
}

.site-wrap {
	max-width: 700px;
	margin: 100px auto;
	background: white;
	padding: 40px;
	text-align: justify;
}

.align-left {
	float: left;
	margin-right: 20px;
}

.align-right {
	float: right;
	margin-left: 20px;
}

.reveal-loaded .reveal [class*='reveal-'] {
	opacity: 0 !important;
	transform: translateY(30px) !important;
	transition: 0s!important;
}

.reveal-loaded [class*='reveal-'] {
	transition: 1s cubic-bezier(0.5, 0, 0, 1);
}

.reveal-loaded .reveal-2 {
	transition-delay: 0.1s;
}

.reveal-loaded .reveal-3 {
	transition-delay: 0.2s;
}

.reveal-loaded .reveal-4 {
	transition-delay: 0.3s;
}

@media (prefers-reduced-motion: reduce) {
	.reveal [class*='reveal-'] {
		opacity: 1 !important;
		transform: translateY() !important;
	}
	[class*='reveal-'] {
		transition-duration: 0s!important;
		transition-delay: 0s!important;
	}
}
